In [1]:
# TASK1--------------------------------------------------------------------------------


import pandas as pd

# Step 1: Create a Pandas Series from the given list
data = [25, 30, 35, 40, 45]
s = pd.Series(data)

# Step 2a: Assign custom indices
s.index = ['A', 'B', 'C', 'D', 'E']

# Step 2b: Display the first three elements
print("First three elements:")
print(s.head(3))

# Step 2c: Calculate mean, median, and standard deviation
mean_val = s.mean()
median_val = s.median()
std_val = s.std()

print("\nStatistics:")
print("Mean:", mean_val)
print("Median:", median_val)
print("Standard Deviation:", std_val)

First three elements:
A    25
B    30
C    35
dtype: int64

Statistics:
Mean: 35.0
Median: 35.0
Standard Deviation: 7.905694150420948

In [2]:


# TASK2-----------------------------------------------------------

import pandas as pd

# Step 1: Create the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}

df = pd.DataFrame(data)

# Step 2a: Display the first two rows
print("First two rows:")
print(df.head(2))

# Step 2b: Display column names, data types, and summary statistics
print("\nColumn Names:", df.columns.tolist())
print("\nData Types:\n", df.dtypes)
print("\nSummary Statistics:\n", df.describe())

# Step 2c: Add 'Passed' column (Marks >= 80)
df['Passed'] = df['Marks'] >= 80
print("\nDataFrame with 'Passed' column:\n", df)

First two rows:
    Name  Age  Gender  Marks
0  Alice   20  Female     85
1    Bob   22    Male     78

Column Names: ['Name', 'Age', 'Gender', 'Marks']

Data Types:
 Name      object
Age        int64
Gender    object
Marks      int64
dtype: object

Summary Statistics:
              Age      Marks
count   5.000000   5.000000
mean   20.400000  83.400000
std     1.140175   7.334848
min    19.000000  74.000000
25%    20.000000  78.000000
50%    20.000000  85.000000
75%    21.000000  88.000000
max    22.000000  92.000000

DataFrame with 'Passed' column:
     Name  Age  Gender  Marks  Passed
0  Alice   20  Female     85    True
1    Bob   22    Male     78   False
2  Carol   19  Female     92    True
3  David   21    Male     74   False
4    Eve   20  Female     88    True

In [4]:
# TASK3-----------------------------------------------------
import pandas as pd

# Recreate the DataFrame from Task 2
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}

df = pd.DataFrame(data)
df['Passed'] = df['Marks'] >= 80

# Step 1: Select and display Name and Marks columns
print("Name and Marks columns:")
print(df[['Name', 'Marks']])

# Step 2: Filter and display records where Marks > 80
print("\nStudents with Marks > 80:")
print(df[df['Marks'] > 80])

# Step 3: Display the record of the student with the highest marks
max_marks = df['Marks'].max()
top_student = df[df['Marks'] == max_marks]
print("\nStudent with the highest marks:")
print(top_student)

Name and Marks columns:
    Name  Marks
0  Alice     85
1    Bob     78
2  Carol     92
3  David     74
4    Eve     88

Students with Marks > 80:
    Name  Age  Gender  Marks  Passed
0  Alice   20  Female     85    True
2  Carol   19  Female     92    True
4    Eve   20  Female     88    True

Student with the highest marks:
    Name  Age  Gender  Marks  Passed
2  Carol   19  Female     92    True

In [6]:
# TASK4--------------------------------
import pandas as pd
import numpy as np

# Step 1: Recreate the original DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}
df = pd.DataFrame(data)

# Step 2: Introduce missing values
df.loc[1, 'Marks'] = None
df.loc[4, 'Age'] = None

# Step 3a: Identify missing values
print("Missing values in the DataFrame:")
print(df.isnull())

# Step 3b: Fill missing Marks with the mean of the Marks column
# Fill missing values in the 'Marks' column with the mean (safe version)
mean_marks = df['Marks'].mean()
df['Marks'] = df['Marks'].fillna(mean_marks)

print("\nDataFrame after filling missing 'Marks' with mean:")
print(df)

# Step 3c: Drop rows where Age is missing
df_cleaned = df.dropna(subset=['Age'])

print("\nDataFrame after dropping rows with missing 'Age':")
print(df_cleaned)

Missing values in the DataFrame:
    Name    Age  Gender  Marks
0  False  False   False  False
1  False  False   False   True
2  False  False   False  False
3  False  False   False  False
4  False   True   False  False

DataFrame after filling missing 'Marks' with mean:
    Name   Age  Gender  Marks
0  Alice  20.0  Female  85.00
1    Bob  22.0    Male  84.75
2  Carol  19.0  Female  92.00
3  David  21.0    Male  74.00
4    Eve   NaN  Female  88.00

DataFrame after dropping rows with missing 'Age':
    Name   Age  Gender  Marks
0  Alice  20.0  Female  85.00
1    Bob  22.0    Male  84.75
2  Carol  19.0  Female  92.00
3  David  21.0    Male  74.00

In [7]:
# Task-5----------------------------------------------

import pandas as pd

# Create DataFrame
d = {
    'Name': ['Alice', 'Bob', 'Carol', 'David', 'Eve'],
    'Age': [20, 22, 19, 21, 20],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Marks': [85, 78, 92, 74, 88]
}
df = pd.DataFrame(d)

# Group by Gender and calculate mean Age and Marks
g_mean = df.groupby('Gender')[['Age', 'Marks']].mean()
print("Mean Age and Marks by Gender:\n", g_mean)

# Count number of students by Gender
g_count = df['Gender'].value_counts()
print("\nNumber of students by Gender:\n", g_count)

Mean Age and Marks by Gender:
               Age      Marks
Gender
Female  19.666667  88.333333
Male    21.500000  76.000000

Number of students by Gender:
 Gender
Female    3
Male      2
Name: count, dtype: int64

In [9]:
# Task6---------------------------------------------------------------

# Modify the DataFrame from Task 4 with missing values filled
df.loc[1, 'Marks'] = None
df.loc[4, 'Age'] = None

# Fill missing Marks with mean
mean_marks = df['Marks'].mean()
df['Marks'] = df['Marks'].fillna(mean_marks)

# Save to CSV file
df.to_csv('students_data.csv', index=False)

# Read the CSV file into a new DataFrame
df_new = pd.read_csv('students_data.csv')

# Display the first 5 rows of the new DataFrame

print(df_new.head())

    Name   Age  Gender  Marks
0  Alice  20.0  Female  85.00
1    Bob  22.0    Male  84.75
2  Carol  19.0  Female  92.00
3  David  21.0    Male  74.00
4    Eve   NaN  Female  88.00

In [ ]:
# TASK 7-------------------------------------